<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="MonoAndroid403" />
  <package id="NodaTime" version="1.3.0" targetFramework="MonoAndroid403" />
  <package id="SQLite.Net.Platform.XamarinAndroid" version="2.4.1" targetFramework="MonoAndroid403" />
  <package id="SQLite.Net-PCL" version="2.4.1" targetFramework="MonoAndroid403" />
  <package id="Xamarin.Android.Support.v4" version="21.0.3.0" targetFramework="MonoAndroid403" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="21.0.3.0" targetFramework="MonoAndroid403" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="21.0.3.0" targetFramework="MonoAndroid403" />
  <package id="Xamarin.GooglePlayServices" version="22.0.0.0" targetFramework="MonoAndroid50" />
</packages>